<div class="container">
    <ul>
        <li>url: {{ ticket.url }}</li>
        <li>id: {{ ticket.id }}</li>
        <li>title: {{ ticket.title }}</li>
        <li>description: {{ ticket.description }}</li>
        <li>creationDate: {{ ticket.creationDate }}</li>
        <li>dueDate: {{ ticket.dueDate }}</li>
        <li>createdBy: {{ ticket.createdBy }}</li>
        <li>requestedBy: {{ ticket.requestedBy }}</li>
        <li>requestedFor: {{ ticket.requestedFor }}</li>
    </ul>
</div>

<!-- <div> {{ ticket | json }}</div> -->
<!-- <div> {{ ticket.url }}</div> -->
