<div class="container">

    <div class="">
        <h1>Ticket detail</h1>

       
        <ul class="list-group list-group" *ngIf="loading">
            <li class="list-group-item">Url: <b>{{ ticket?.url }}</b></li>
            <li class="list-group-item">Id: <b>{{ ticket?.id }}</b></li>
            <li class="list-group-item">Title: <b>{{ ticket?.title }}</b></li>
            <li class="list-group-item">Description: <b>{{ ticket?.description }}</b></li>
            <li class="list-group-item">Creation Date: <b>{{ ticket?.creationDate | date: 'dd/MM/yyyy - HH:mm' }}</b></li>
            <li class="list-group-item">Due Date: <b>{{ ticket?.dueDate | date: 'dd/MM/yyyy - HH:mm' }}</b></li>
            <li class="list-group-item">Created By: <b>{{ userCreator?.email }}</b></li>
            <li class="list-group-item">Requested By: <b>{{ userRequested?.email }}</b></li>
            <li class="list-group-item">Requested For: <b>{{ userRequestedFor?.email }}</b></li>
            
            <li class="list-group-item" *ngIf="ticket.id">
                <button type="button" class="btn btn-danger" (click)="deleteTicket(ticket.id)">Detele ticket</button>
                <button type="button" class="btn btn-primary mx-2"
                [routerLink]="['/ticketcreate']" [queryParams]="{ edit: true, id:ticket.id}">
                    Edit ticket
                </button>
                <button type="button" class="btn btn-dark" routerLink="/ticketall">Go back</button>
            </li>
        </ul>
    </div>
    </div>


<!-- <div> {{ ticket | json }}</div> -->

