body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
  }
  
  .btn-login {
    margin: 2vh 0vh;
    padding: 3vh;
  }

  .btn-change {
    margin: 1vh 0vh;
    padding: 1vh 0vh;
  }