<p>ticket-all works!</p>


<!-- <p> {{ tickets  }}</p> -->
<ul *ngFor="let ticket of tickets">
    <li>{{ ticket.url }}</li>
    <li>{{ ticket.title }}</li>
    <li>{{ ticket.description }}</li>
    <li>{{ ticket.creationDate }}</li>
    <li>

     <a [routerLink]="['/ticketdetail']" [queryParams]="{ url: ticket.url }" >
    link to user component
  </a>
    </li>
    <!-- <app-ticket [ticket]=ticket> </app-ticket> -->
</ul>
<!-- <app-ticket *ngFor="let ticket of tickets" [ticket] = 'ticket'></app-ticket> -->


