<div class="container" *ngIf="(isLoaded | async)">
    <h1 class="display-3 py-3">Ticket detail</h1>
    <div class="col-md-6">
        <ul class="list-group list-group">
            <!-- <li class="list-group-item">Url: <b>{{ ticket.url }}</b></li> -->
            <!-- <li class="list-group-item">Id: <b>{{ ticket.id }}</b></li> -->
            <li class="list-group-item">Title: <b>{{ ticket.title }}</b></li>
            <li class="list-group-item">Description: <b>{{ ticket.description }}</b></li>
            <li class="list-group-item">Creation Date: <b>{{ ticket.creationDate | date: 'dd/MM/yyyy - HH:mm' }}</b>
            </li>
            <li class="list-group-item">Due Date: <b>{{ ticket.dueDate | date: 'dd/MM/yyyy - HH:mm' }}</b></li>
            <br>
            <!-- <div *ngIf="(userCreator | async)">
                <li class="list-group-item">Created By: <b>{{ (userCreator| async)?.email }}</b></li>
                <li class="list-group-item">Created By: <b>{{ (userRequestedBy | async)?.email }}</b></li>
                <li class="list-group-item">Created By: <b>{{ (userRequestedFor | async)?.email }}</b></li>
            </div> -->

            <div>
                <li class="list-group-item">Created by: <b>{{ userCreator }}</b></li>
                <li class="list-group-item">Requested by: <b>{{ userRequestedBy }}</b></li>
                <li class="list-group-item">Requested for: <b>{{ userRequestedFor }}</b></li>
            </div>
        </ul>
    </div>
    <div class="col-md-6">
    </div>
    <br>
    <br>
    <div class="inline">
        <button type="button" class="btn btn-dark" routerLink="/ticketall">Go back</button>
        <button type="button" class="btn btn-primary mx-2" [routerLink]="['/ticketcreate']"
            [queryParams]="{ edit: true, id:ticket.id}">
            Edit ticket
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteTicket(ticket.id)">Delete ticket</button>
    </div>
</div>
<!-- <div> {{ ticket | json }}</div> -->