
<div class="container" *ngIf="(isLoaded | async)?.valueOf() === true">


    <h2 class="display-3 py-3">My tickets</h2>
  <table class="table table-light">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Creation date</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngFor="let ticket of tickets">
      <tr>
          <td>{{ ticket.title }}</td>
          <td>{{ ticket.description }}</td>
          <td>{{ ticket.creationDate | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td>
            <button type="button" class="btn btn-sm btn-primary"
            [routerLink]="['/ticketdetail']" [queryParams]="{ id: ticket.id }">
              Ticket details
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-sm btn-warning"
            [routerLink]="['/ticketcreate']" [queryParams]="{ edit: true, id:ticket.id}">
              Edit ticket
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-sm btn-danger" (click)="deleteTicket(ticket.id!)">Delete ticket</button>
          </td>
      </tr>
    </tbody>
  </table>
  <div class="alert alert-warning" role="alert" *ngIf="tickets === undefined">
    <h5>Nothing here but dust...</h5>
  </div>
  </div>